/* Error: Undefined mixin.
 *    ,
 * 12 |     @include fluid-text(21, 16);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   HeaderMenu.scss 12:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 12 \2502      @include fluid-text(21, 16);\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   HeaderMenu.scss 12:5  root stylesheet";
}
