.hero-slider {
  width: 100%;
  flex: 1;
  padding-top: fluid(40, 10);
  overflow: hidden;
  position: relative;


  &__container {
    width: 100%;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.5s ease;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);
    flex: 0 0 100%;
    scroll-snap-align: start;

    &-header {
      display: flex;
      align-items: center;
      column-gap: fluid(32, 20);
    }

    &-inner {
      display: flex;
      flex-direction: column;
      row-gap: fluid(29, 15);
      padding-block: fluid(75, 50) fluid(30, 20);
      padding-left: fluid(80, 55);
    }

    &-title {
      color: var(--color-text-01);
    }

    &-description {
      color: var(--color-text-01);
      white-space: pre-line;
    }
  }

  &__link {
    @include fluid-text(21, 18);
    font-weight: 400;
    color: var(--color-text-01);
  }
}