.footer {
  background-color: var(--color-black);
  color: var(--color-text-01);

  &__menu {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    padding-block: fluid(106, 35) fluid(80, 30);

    &-group {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      row-gap: fluid(32, 20);
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: fluid(25, 12);
    }

    &-title {
      color: inherit;
    }

    &-item {
      list-style: none;
      white-space: pre-line;

      &--gray {
        color: var(--color-text-02);
      }
    }

    &-input {
      margin-top: fluid(-21, -15);
    }

    &-grid {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: fluid(12, 8);
      align-items: center;
      margin-top: fluid(-21, -15);

      &-qr {
        grid-column: 1;
        grid-row: 1 / span 2;
      }

      &-google {
        grid-column: 2;
        grid-row: 1;
      }

      &-app {
        grid-column: 2;
        grid-row: 2;
        margin-top: 10px;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
    padding-block: fluid(20, 15) fluid(32, 20);
    color: var(--color-text-02);
  }
}