.input {
//  width: fluid(320, 250);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding: 5px 10px;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-m);

  &__box {
    flex: 1;
    border: none;
    background: transparent;

    &:focus-within {
      outline: none;
    }
  }

  &--not-filled {
    background: transparent;
    border: 1px solid currentColor;
  }

  &:focus-within {
    @include focus-visible();
  }
}

.header__inner-input{
  width: fluid(310, 270);
}